ul {
    list-style-type: none 
}


.btnspinner_1{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_2{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_3{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_4{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_5{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_6{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_7{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_8{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_9{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner_10{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_1{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_2{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_3{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_4{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_5{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_6{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_7{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_8{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner2_9{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner3_1{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner3_2{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner3_3{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btnspinner3_4{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.spinner_area {
    padding-left: 0px;
}

.spinner_area input{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    width: 100px;
    vertical-align: middle;
    /* デフォルトのスピナーを消す */
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

.spinner_area input[type="button"]{
    cursor: pointer;
    width: 50px;
    padding: 8px;
    background-color: #d6d3d3;
}

.inputbutton1 input[type="submit"]{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fc943f;/*ボタン色*/
    color: #fcfcfc;/*ボタン色より暗く*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 220px;
    position: relative;
    top:80px;
    right: 300px;
}

.inputbutton1 input[type="submit"]:active  {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }


.zero{
    float: left;
}

.zero p{
    font-size: 12px;
}

.one{
    float: left;
}
.two{
    float: left;
}
.three{
    float: left;
}

.spinner_area2{
    padding-left: 0;
}

.spinner_area2 input{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    width: 100px;
    vertical-align: middle;
    /* デフォルトのスピナーを消す */
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

.spinner_area2 input[type="button"]{
    cursor: pointer;
    width:50px;
    padding: 8px;
    background-color: #d6d3d3;
}

.inputbutton2 input[type="submit"]{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fc943f;/*ボタン色*/
    color: #fcfcfc;/*ボタン色より暗く*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 220px;
    position: relative;
    left:420px;
}

.inputbutton2 input[type="submit"]:active  {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }

.zero{
    float: left;
}

.zero p{
    font-size: 12px;
}

.glande-one{
    float: left;
    padding-right: 20px;
    padding-left: 30px;
}
.glande-two{
    float: left;
    padding-right: 20px;
    padding-left: 30px;
}
.glande-three{
    float: left;
    padding-right: 20px;
    padding-left: 30px;
}

.spinner_area3{
    padding: 0;
}

.spinner_area3 input{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    width: 100px;
    vertical-align: middle;
    /* デフォルトのスピナーを消す */
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

.spinner_area3 input[type="button"]{
    cursor: pointer;
    width: 50px;
    padding: 8px;
    background-color: #d6d3d3;
}

.inputbutton3 input[type="submit"]{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fc943f;/*ボタン色*/
    color: #fcfcfc;/*ボタン色より暗く*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 220px;
    position: relative;
    left: 450px;
}

.inputbutton3 input[type="submit"]:active  {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }

.bahamut-one{
    float: left;
    padding-left: 150px;
    padding-left: 150px;
}
.bahamut-two{
    float: left;
    padding-left: 150px;
    padding-left: 150px;
}


/*tab*/
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin:20px 0;
  }
  .tab-wrap:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #00ffea;
    display: block;
    order: -1;
  }
  .tab-label {
    color: White;
    background: LightGray;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
  }
  .tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
  .tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  .tab-switch:checked+.tab-label {
    background: #00ffea;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  .tab-switch {
    display: none;
  }

  /*解除したいやつ float:left tab*/